html,
body  {
    height: 100%;
}
body {
    background:url(../images/basic/background.jpg) no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
.nav-portal {
	margin-top: 20px;
	margin-bottom: 60px;
}
.logo {
	height: 60px;
    margin-left: 20%\9;
}
.login {
	padding: 30px 0;
    width: 60%;
    margin: 0 auto;
    background: #f8f8f8;
    border-radius: 5px;
    min-height: 300px\9;
}
.form-control {
	height: 42px!important; 
}
.login-form {
	margin: 0 10px 40px;
}
.form-heading {
	text-align: center;
    margin: 30px auto 40px;
    letter-spacing: 4px;
}
.notice-heading {
	margin: 60px 0 0 10px;
    letter-spacing: 4px;
}
.middle {
	height: 30em;
    height: 25em\9;
}
@media (max-width: 1366px) {
	.login {
    	width: 80%;
	}
	.form-heading {
		font-size: 25px;
	}
}
@media (max-width: 991px) {
	.login {
    	width: 95%;
	}
	.form-heading {
		font-size: 25px;
	}
}
@media (max-width: 767px) {
	.login {
    	width: 85%;
	}
	.form-heading {
		font-size: 25px;
	}
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 384px) {
	.login {
    	width: 95%;
	}
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
	.login-form {
		margin: 0 0 10px;
	}
	.form-heading {
		font-size: 25px;
	}
    .others {
        font-size: 14px;
    }
}
@media (max-width: 320px) {
	.login {
    	width: 98%;
	}
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
	.form-heading {
		font-size: 25px;
	}
	.login-form {
		margin: 0 0 30px;
	}
	.others {
		font-size: 14px!important;
	}
}
.fts {
	margin-top: 20px;
}
.ft.links {
    font-size: 12px;
    color: rgb(61, 158, 235);
    text-align: center;
    padding-left: 0px;
}
.links_item:first-child {
    border-left-width: 0;
}
.links_item.no_extra {
    border-left-width: 0;
}
.ft .links_item {
    border-left-color: rgb(61, 158, 235);
}
.links_item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
    line-height: 1em;
    border-left: 1px solid #d9dadc;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.text-right {
	text-align: right;
}
.text-right a, .text-left a {
	color: #000;
    font-size: 16px;
}
hr {
    border-top: 1px solid #cabdbd;
}
.others {
	margin-top: 11px;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin-bottom: 25px;
}
.domain-list {
	line-height: 18px;
	font-size: 18px;
}
.addon-code {
	padding: 0;
}
.btn-code {
	border: 0;
	background-color: #eee;
}
.content-agile5 {
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 10px auto;
    padding: 80px 15px 85px;
    text-align: center;
}
.loading {
    width: 350px;
    height: 15px;
    margin: 0 auto;
}
.loading span {
    display: inline-block;
    width: 15px;
    height: 100%;
    margin-right: 5px;
    border-radius: 50%;
    background: #000;
    -webkit-animation: load 1.04s ease infinite;
}
.loading span:last-child {
    margin-right: 0px; 
}
@-webkit-keyframes load {
    0%{
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100%{
        opacity: 0.2;
        -webkit-transform: scale(.3);
    }
}
.loading span:nth-child(1) {
    -webkit-animation-delay:0.13s;
}
.loading span:nth-child(2) {
    -webkit-animation-delay:0.26s;
}
.loading span:nth-child(3) {
    -webkit-animation-delay:0.39s;
}
.loading span:nth-child(4) {
    -webkit-animation-delay:0.52s;
}
.loading span:nth-child(5) {
    -webkit-animation-delay:0.65s;
}
.success {
	margin-top: 30px;
}
.btn-block {
	margin-bottom: 10px;
}
.notice {
    width: 48%\9;
}
.notice-ie {
    width: 90%\9;
}
.middle-right {
    display: none\9;
}
.login-ie {
   width: 28.8%\9;
   position: fixed\9;
   left: 50%\9;
   top: 180px\9;
}
.login-table {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.login-table a {
    font-size: 18px;
    color: #666;
    text-decoration: none;
}
.login-table-l {
    border-right: 1px solid #dcdcdc;
}
.login-table a.checked,
.login-table a:hover {
    font-weight: 700;
    color: #e4393c;
}
#out-qrcode {
    text-align: center;
}
.qrcode {
    color: rgb(51,51,51);
    position: absolute;
    right: 0;
    border-radius: 0 5px 0 0;
    overflow: hidden;
    z-index: 1;
    top: -30px;
}
/*portal 优化*/
.login-page.login .login-ie{
    float: right;
}
.login-page.login .notice{
    float: left;
}
@media (max-width: 768px) {
    .login-page.navbar {
        margin: 0 0 20px 0;
        padding-top: 20px;
    }
    .login-page.login {
        background: none;
    }
    .login-page .pull-right{
        display: none;
    }
    .login-page .login-ie,.login-page .notice{
        background: #f8f8f8;
        border-top: 8px solid #353535;
        box-shadow: 0 0 20px rgba(0,0,0,.45);
    }
    .login-page .login-ie{
        margin-bottom: 20px;
    }
    .login-page .notice{
        width: 100%;
    }
    .login-page .login-ie .form-heading{
        margin: 20px 0;
    }
    .login-page .login-ie .login-form{
        margin-bottom: 4px;
    }
    .login-page .login-ie .fts{
        margin-top: 0;
    }
    .login-page #self-service{
        padding-left: 0;
        padding-right: 0;
    }
    .login-page .notice .notice-heading{
        margin: 20px 0;
        text-align: center;
    }
}